/*NAVBAR STYLES*/
/*.navList{
    text-align: center;
    color: red;
    padding: 0;
    margin: 0;
    display: inline;
}*/
body{
    width: 100%;
    height: 100%;
}
#add, #save{
    font-weight: bold;
    font-size: 20px;
    text-decoration:none;        /*#4BD7E9*/
    margin-bottom: 10px;
}
#add, #save{
    color: #ffff;
    text-decoration: none;
}/*
.activo{
    width: 150px;
    height: 3px;
    background-color: #4BD7E9;
}*/
#save:hover, #add:hover{
    color: #4BD7E9;
    background: #7F7E7E;
}/*
.fondo{
    padding-top: 30px;
    padding-bottom: 35px;
    
}*/
/*
.fondo:hover{
    background: #7F7E7E;
}*/
.link-img{
    width: 30px;
    height: 30px;
}
.logo{
    font-size: 200%;
    font-family: 'Lobster', cursive;
    color: #FFF;
    display: flex;
    justify-content: flex-end;
    height: 60px;
    line-height: 1.3em;
    /*margin-right: 20px;*/
    padding: 3px 10px;
}

/*MAIN STYLES*/
.contenedor{
    border-radius: 5px;
    height: 68vh;
    background: rgb(240, 237, 237);
    /*color: rgb(168, 168, 168);*/
    overflow: auto;
    border: solid 1px;
    margin: 10px auto;
}
.jumbo .welcome{
    text-align: center;
    font-size: 300%;
    font-family: 'Galada', cursive;
}
.jumbo .subtitulo{
    font-family: 'PT Serif', serif;
    font-size: 100%;
    padding: 0;
    color: #7F7E7E;
    margin-top: 20px;
}
@media (max-width: 700px){
    .subtitulo{
        text-align: center;
    }
}
#Lists{
    padding-top: 6px;
    /*display: contents;*/
    text-align: center;
}/*
.lista-header{
    font-size: 20px;
    color: #FFFF;
}*/

#Lists .list-container{
    display: inline-block;
    border: 2px solid blueviolet;
    background: #4BD7E9;
    margin-left: 3px;
    margin-bottom: 3px;
    padding-left: 10px;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 17px;
    border-radius: 5px;
    font-family: /*'Montserrat';*/ 'PT Serif', serif;
    text-align: left;
    width: 258px;
}
.title{
    font-size: 16px;
    font-weight: bold;
    width: auto;    
    text-overflow: ellipsis;
    overflow: hidden;
}
.titleInput{
    border-radius: 4px;
    padding: 3px;
    width: 90%;
    border: 0;
    font-size: 14px;
}
.options{
    background-color: #399eac;
    border-color: rgb(179, 179, 179);
    border-radius: 5px;
    margin: 2px 5px 5px;
    padding: 0 10px;
    cursor: pointer;
    text-align: right;
    font-size: 15px;
    text-decoration: none;
    color: #000;
    height: 25px;
}
.options:hover{
    background: rgb(236, 235, 235);
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
}
.dropdown{
    width: 40%;
    float: right;
    height: auto;
    display: flex;
    position: relative;
}
.subMenu{
    top: 20px;
}
.dropdown ul{
    position: absolute;
    margin: 0.5px;
    margin-bottom: 1px;
    left: 25%;
    width: auto;
    height: auto;
    display: flex;
    background-color: rgb(179, 179, 179);
    border: 1px solid rgb(179,179,179);
    align-items: center;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    border-radius: 5px;
    opacity: 0;
    pointer-events: all; /*por alguna razon aqui se encuentra el problema del click al poner none*/
    transition: all .4s ease-in-out;
}
.subMenu li{
    height: auto;
    width: auto;
    margin: 1px;
    padding: 4px 7px 0 2px;
    border-radius: 5px;
    color:rgb(0, 0, 0);
    background-color: #868686;
    border: 1px solid  #1423f1;
}
.subMenu li:hover{
    background: #88e5f1;
}
.options:focus ~ .subMenu ul{
    opacity: 1;
    pointer-events: all;
}
.list-ul{
    margin-top: 10px;
}
/*.options:hover ~ .subMenu{
    opacity: 1;
    transition:  600ms;
}*/
/*
.subMenu{
    margin-left: 60%;
    margin-bottom: 2px;
    margin-top: 2px;
    border-radius: 5px;
    background-color: rgb(179, 179, 179);
    width: 40%;
    padding: 0px 5px;
}*/
/*
.subMenu .img{
    padding: 2px;
    margin: 0 5px;
    margin-left: 20%;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4BD7E9;
    border: 1px solid  #7F7E7E;
}*/
.ico-menu{
    height: 17px;
    width: 25px;
    cursor: pointer;
}
.img{
    width: auto;
    height: auto;
}
.taskDelete{
    display: inline-block;
    margin-left: 5px;
    padding-right: 4px;
    opacity: 0;
    font-size: 20px;
    text-decoration: none;
}
 label:hover ~ .taskDelete{
    cursor: pointer;
    color: crimson;
    opacity: 1;
    padding-left: 7px;
    font-weight: bold;
    text-decoration: none;
}
.taskDelete:hover{
    width: 30px;
    font-weight: bold;
    cursor: pointer;
    background: rgb(236, 235, 235);
    display: flex;
    text-align: center;
    padding-left: 7px;
    align-items: center;
    border-radius: 5px;
    opacity: 1;
    color: crimson;
    margin-left: 5px;
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}/*
.ready{
    text-decoration: line-through
}*/
.txtInput{
    margin: 5px 0px 5px 0px;
   /* margin-left: 20px;*/
   display: flex;
   justify-content: start;
   border-radius: 5px;
   border: 1px solid;
   width: 90%;
}
span li{
    padding-top: 3px;
   /* margin-left: 32%;*/
    display: flex;
}/*
.checkbox{}*/
[type="checkbox"]{
    margin-top: 8px;
    cursor: pointer;
}
input[type="checkbox"]:checked ~ label{
    text-decoration: line-through;
}
li label{
    text-align: left;
    padding-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*FOOTER*/
.footer{
    background:rgb(139, 138, 138);
    position: absolute;
    bottom: 0;
    width: 100%;
}
h3{
    font-family: "montserrat", sans-serif;
    font-size: 1.4em;
}
.contenido{
    justify-content: center;
    position: relative;
    text-align: right;
}
.nombre{
    color: #FFFF;
    font-size: 13px;
}
.nombre:hover{
    text-decoration: none;
    color: #4BD7E9;
    width: 150px;
}
.contact{
    color: #4BD7E9;
}
span{
    color: black;
    font-size: 13px;
    padding: 2px;
}
i .ico-footer{
    padding-right: 10px;
}

/*Share social media
.share-button{
    width: 140px;
    height: 80px;
    font-size: 16px;*/
    /*background: #dfe6e9;*/
    /*background: #343a40;*/
   /* display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .1s linear;
    border-radius: 40px;
}
.share-button:hover{
    transform: scale(1.1);
}
.share-button span{
    position: absolute;
    width: 100%;
    height: 100%;       */
   /* background: #343a40;
    color: /*#F1F1F1 #343a40;
   /* text-align: center;
    line-height: 80px;
    z-index:999;
    transition: .6s linear;
    border-radius: 40px;
}
.share-button:hover span{
    transform: translateX(-100%);
    transition-delay: -3s;
}
.share-button a{
    flex: 1;
    font-size: 26px;
    color: #2D3436;
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.3s linear ;
}
.share-button:hover a{
    opacity: 3;
    transform: translateX(0);   
}/* 
.share-button a:nth-of-type(1){
    transition-delay: 1s;
}
.share-button a:nth-of-type(2){
    transition-delay: 0.8s;
}
.share-button a:nth-of-type(3){
    transition-delay: 0.6s;
}
.share-button a:nth-of-type(4){
    transition-delay: 0.4s;
}*/